################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Common/bin/Debug
/Common/bin/Release
/.vs
/Common/obj/Debug
/Common/obj/Release
/LazyStock.Soa/bin
/LazyStock.Soa/obj/Debug
/LazyStock.Web/bin
/LazyStock.Web/logs/b
/LazyStock.Web/obj
/LazyStock.Web/Properties
/LazyStock.Web/StockJson
/packages
