################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Common/bin/Debug
/Common/bin/Release
/.vs
/Common/obj/Debug
/Common/obj/Release
/LazyStock.Soa/bin
/LazyStock.Soa/obj/Debug
/LazyStock.Web/bin
/LazyStock.Web/logs/b
/LazyStock.Web/obj
/LazyStock.Web/Properties
/LazyStock.Web/StockJson
/packages
/LazyStock.Model/obj/Debug
/LazyStock.ScheduleServices/bin/Debug/logs/UploadStockPrice
/LazyStock.ScheduleServices/bin/Debug/DataSource/TWSEStockPrice
/LazyStock.ScheduleServices/bin/Debug/CheckDone
/LazyStock.ScheduleServices/bin/Debug/Newtonsoft.Json.dll
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.pdb
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.InstallLog
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.exe.config
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.exe
/LazyStock.ScheduleServices/bin/Debug/CsvHelper.xml
/LazyStock.ScheduleServices/bin/Debug/CsvHelper.dll
/LazyStock.ScheduleServices/bin/Debug/Common.pdb
/LazyStock.ScheduleServices/bin/Debug/Common.dll
/LazyStock.ScheduleServices/obj
/LazyStock.Services/bin/Debug/logs/test
/LazyStock.Services
/LazyStock.Web/App_Data/JsonData
