################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Common/bin/Debug
/Common/bin/Release
/.vs
/Common/obj/Debug
/Common/obj/Release
/LazyStock.Soa/bin
/LazyStock.Soa/obj/Debug
/LazyStock.Web/bin
/LazyStock.Web/logs/b
/LazyStock.Web/obj
/LazyStock.Web/Properties
/LazyStock.Web/StockJson
/packages
/LazyStock.Model/obj/Debug
/LazyStock.ScheduleServices/bin/Debug/logs/UploadStockPrice
/LazyStock.ScheduleServices/bin/Debug/DataSource/TWSEStockPrice
/LazyStock.ScheduleServices/bin/Debug/CheckDone
/LazyStock.ScheduleServices/bin/Debug/Newtonsoft.Json.dll
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.pdb
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.InstallLog
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.exe.config
/LazyStock.ScheduleServices/bin/Debug/LazyStock.ScheduleServices.exe
/LazyStock.ScheduleServices/bin/Debug/CsvHelper.xml
/LazyStock.ScheduleServices/bin/Debug/CsvHelper.dll
/LazyStock.ScheduleServices/bin/Debug/Common.pdb
/LazyStock.ScheduleServices/bin/Debug/Common.dll
/LazyStock.ScheduleServices/obj
/LazyStock.Services/bin/Debug/logs/test
/LazyStock.Services
/LazyStock.Web/App_Data/JsonData
/LazyStock.ScheduleServices/bin/Debug/DataSource
/LazyStock.ScheduleServices/bin/Debug/logs/CalStockInfoArchiveServices
/LazyStock.ScheduleServices/bin/Debug/logs/Common
/LazyStock.ScheduleServices/bin/Debug/logs/DeilyPriceGTSMCrawlerServcies
/LazyStock.ScheduleServices/bin/Debug/logs/DeilyPriceTPEXCrawlerServcies
/LazyStock.ScheduleServices/bin/Debug/logs/DeilyPriceTWSECrawlerServcies
/LazyStock.ScheduleServices/bin/Debug/logs/DeilyStockNotiflyServices
/LazyStock.ScheduleServices/bin/Debug/logs/StableStockServices_QueryHighQualityListForSlot
/LazyStock.ScheduleServices/bin/Debug/logs/StableStockServices_QueryQuality
/LazyStock.ScheduleServices/bin/Release
/LazyStock.ScheduleServices/bin/Debug/System.Web.Http.xml
/LazyStock.ScheduleServices/bin/Debug/System.Web.Http.WebHost.xml
/LazyStock.ScheduleServices/bin/Debug/System.Web.Http.WebHost.dll
/LazyStock.ScheduleServices/bin/Debug/System.Web.Http.dll
/LazyStock.ScheduleServices/bin/Debug/System.Net.Http.Formatting.xml
/LazyStock.ScheduleServices/bin/Debug/System.Net.Http.Formatting.dll
/LazyStock.ScheduleServices/bin/Debug/Newtonsoft.Json.xml
/LazyStock.ScheduleServices/bin/Debug/LineBot.xml
/LazyStock.ScheduleServices/bin/Debug/LineBot.dll
/LazyStock.ScheduleServices/bin/Debug/Dapper.xml
/LazyStock.ScheduleServices/bin/Debug/Dapper.dll
/LazyStock.ScheduleServices/bin/Debug/00zz.exe
/20180731-LazyStock.7z
/LazyStock.Web/App_Data
